<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="ui/static/css/normalize.min.css">
        <link rel="stylesheet" href="ui/static/css/main.css">

        <script src="ui/static/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
    {{ if .Error }} <p>Error: {{ .Error }}</p> {{ end }}
        <h1>Hello {{.Firstname}} {{.Lastname}} ({{.AthleteID}})</h1>
        <p>Status: {{ .Status }}</p>
        <script>var authUri="{{.AuthUri}}client_id={{.ClientID}}&"</script>
	<input type="button" id="openStrava" value="Link to Strava account">
	{{ if .Authorized }} Poll {{ end }} 
        <script src="ui/static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="ui/static/js/main.js"></script>
    </body>
</html>
